<!DOCTYPE html>
<% provide(:title, Post.find(params[:post_id]).title) %>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/newsfeed/newsfeed.css" rel="stylesheet"> <!-- Lucas's css file -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>


    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar-color navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/posts">Oskimart</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li class = "dropdown">
                            <a class = "dropdown-toggle" data-toggle="dropdown" role="button">
                              Categories <b class="caret"></b>
                            </a>
                          <ul class="dropdown-menu">
                            <li><%=link_to "General", posts_path()%></li>
                            <li><%=link_to "Books", posts_path(category_id: 'Books')%></li>
                            <li><%=link_to "Technology", posts_path(category_id: 'Technology')%></li>
                            <li><%=link_to "Furniture", posts_path(category_id: 'Furniture')%></li>
                            <li><%=link_to "Service", posts_path(category_id: 'Service')%></li>
                            <li><%=link_to "Other", posts_path(category_id: 'Other')%></li>


                          </ul>
                              
                        </li>

                        
                        <li><%=link_to "Favorites", posts_path(favorites: true)%></li> 
                        <li><%=link_to "Conversations", conversations_path%></li>

                        


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%if user_signed_in? %>
                          <li>
                            <%=link_to user_path(current_user.id) do%>
                              <%=User.find(current_user.id).first_name%>
                              <span class="glyphicon glyphicon-user"></span> 
                            <%end%>
                          </li>
                          <li>
                            
                            <%=link_to destroy_user_session_path, :method=>'delete' do%>
                              Logout
                              <span class="glyphicon glyphicon-log-out"></span> 
                            <%end%>
                              
                          </li>

                        <% else %>
                          <li>
                            <%=link_to new_user_session_path do%>
                              Login
                              <span class="glyphicon glyphicon-log-in"></span> 
                            <% end %>
                          </li>
                        <%end%>

                    </ul>
                </div>
            </div>
        </nav>

    <div class = "overlay"></div>
    <div class = "container top-buffer-35">
        <div class = "row">
             <h1 class = "newsfeed-title"> Post View </h1> 
        </div>

        <div class = "row top-buffer-35 newsfeed-post">
            <% post = Post.find(params[:post_id]) %>
            <h2 class = "post-title">Title: <%= post.title%></h2>
            <div class = "col-md-4">
                <%= image_tag post.image_url(:thumb) %>
            </div>
            <div class = "col-md-7 col-md-offset-1">
                <div class = "row post-description top-buffer-25">
                  Description: <%= post.description %>
                </div>
                <div class = "row top-buffer-25">
                    <div class = "col-md-3">
                      Category: <%= post.category %>
                    </div>

                    <div class = "col-md-3 col-md-offset-1"> Price: <%= post.price %> </div>
                    <div class = "col-md-3 col-md-offset-1"> Posted By: <%=link_to User.find(post.user_id).first_name, user_path(post.user_id)%>
                    </div>

                </div>
              <div class = "row top-buffer-25">
                    <% if current_user.id == post.user_id %>
                        <%= link_to "Update", edit_post_path(post), class: "post-option-button"%>
                        <%= link_to "Close", post, method: :delete, data: { confirm: "Are you sure?" }, class: "post-option-button" %>
                    <% end %>

                    
                    <%= link_to "Comments", comments_path(:post_id => post.id), class: "post-option-button" %>
                    <%= link_to "Favorite" , favorite_path(:post_id => post.id),class: "post-option-button", method: :put, :id => "Favorite" %>
                </div>


            </div>
        </div>
        <div class = "row top-buffer-25">
            <div class="col-md-offset-4 col-md-3">
                <%= link_to "Add Comment", new_comment_path(:post_id => params[:post_id]), class: "btn btn-lg btn-primary" %>
            </div>
            <div class="col-md-3">
              <%= link_to 'Back', posts_path, class: "btn btn-lg btn-primary"%>
            </div>
          </div>
        </div>


          <div class = "container top-buffer-25 bottom-buffer-50">
            <% @comments.each do |comment| %>
                <h2 class = "post-title"></h2>
            <div class = "row top-buffer-35 newsfeed-post" style = "background-color: #5F8FF5">
                <h2 class = "post-title"></h2>
                <div class = "col-md-7 col-md-offset-1">
                    <div class = "row post-description top-buffer-25">
                      Comment: <%= comment.text %>
                    </div>
                    <div class = "row top-buffer-25">
                        <div class = "col-md-3 "> 
                          Posted By: <%= User.find(comment.user_id).first_name %> 
                        </div>
                        <div class = "col-md-6">
                          <% if current_user.id == comment.user_id %>
                            <%= link_to "Update", edit_comment_path(comment), class: "post-option-button"%>
                            <%= link_to "Remove", comment, method: :delete, data: { confirm: "Are you sure?" }, class: "post-option-button" %></td>
                          <% end %>
                        </div>
                    </div>

                </div>
              </div>

        <% end %>
      </div>

      
    </div>


    </body>
</html>

