


<li class="list-group-item clearfix top-buffer-50">
  <h1>Subject: <%= link_to conversation.subject, conversation_path(conversation), id: conversation.subject %></h1>

  <div class="btn-group-vertical pull-right">
    <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), id: 'Restore',class: 'btn btn-xs btn-info', method: :post %>
    <% else %>
      <%= link_to 'Move to trash', conversation_path(conversation), id: 'Move to trash', class: 'btn btn-xs btn-danger', method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>

  <p style = "padding-left:15px">Participants: <%= render 'conversations/participants', conversation: conversation %>
  </p>
  <div class = "row left-buffer-30 top-buffer-25" style = "border-top: solid #E3E3E3 1px; padding-top: 10px">
    <h4>Last Message:</h4>
    <div class = "last-message" style = "padding-left:20px">
      <div class = "last-message">
        <%= conversation.last_message.sender.full_name %>: <%= conversation.last_message.body %>

      </div>
      <small>
        (<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)
      </small>
    </div>

  </div> 
  <p>
</p>
</li>

