<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs"> -->
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Bootstrap CSS -->    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

</head>


<body class="login-img3-body">

	<div class="container">

		<div class="login-form">        
			<div class="login-wrap">
				<p class="login-img"><i> Sign Up</i></p>
				<div class="input-group">

						<!-- <div class='row'>
							<div class='col-md-6 col-md-offset-3'> -->

					<div > 		
						<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages' %>

						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control' %>

						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control' %>


						<%= f.label :username %>
						<%= f.text_field :username, class: 'form-control' %>

						<%= f.label :password %>
						<%= f.password_field :password, class: 'form-control' %>

						<%= f.label :password_confirmation, "Comfirm Password" %>
						<%= f.password_field :password_confirmation, class: 'form-control' %>

						<%= f.submit "Create Account", class: "btn btn-primary" %>
						<% end %>
							<!-- </div>
						</div> -->
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>


