<title>Sign Up</title>
<h1>Sign up</h1>
<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
		<%= form_for(@user) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.label :username %>
			<%= f.text_field :username %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Comfirm Password" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

