<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Viewing post</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/simple-sidebar.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/newsfeed/newsfeed.css" rel="stylesheet">
    <link href="../../css/update/update.css" rel="stylesheet">
    <link href="../../css/show/show.css" rel="stylesheet">
    <link href="../../css/show_user/show-user.css" rel="stylesheet">
    <script src="../../js/show/show.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

</head>
    <nav class="navbar-color navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/posts">Oskimart</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" data-toggle="dropdown" role="button">
                          Categories <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%=link_to "General", posts_path()%></li>
                          <li><%=link_to "Books", posts_path(category_id: 'Books')%></li>
                          <li><%=link_to "Technology", posts_path(category_id: 'Technology')%></li>
                          <li><%=link_to "Furniture", posts_path(category_id: 'Furniture')%></li>
                          <li><%=link_to "Service", posts_path(category_id: 'Service')%></li>
                          <li><%=link_to "Other", posts_path(category_id: 'Other')%></li>
                        </ul>
                          
                    </li>

                    <li><%=link_to "Favorites", posts_path(favorites: true)%></li> 
                  
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <%if user_signed_in? %>
                      <li>
                        <%=link_to user_path(current_user.id) do%>
                          <%=User.find(current_user.id).first_name%>
                          <span class="glyphicon glyphicon-user"></span> 
                        <%end%>
                      </li>
                      <li>
                        
                        <%=link_to destroy_user_session_path, :method=>'delete' do%>
                          Logout
                          <span class="glyphicon glyphicon-log-out"></span> 
                        <%end%>
                          
                      </li>

                    <% else %>
                      <li>
                        <%=link_to new_user_session_path do%>
                          Login
                          <span class="glyphicon glyphicon-log-in"></span> 
                        <% end %>
                      </li>
                    <%end%>

                </ul>
            </div>
        </div>
    </nav>
<div class="container">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
</div>
<div class = "overlay"></div>
<% provide(:title, @user.first_name) %>

<div class = "container top-buffer-25 text-center">
  <div class = "col-md-4">
    
        <div class = "row col-sm-offset-1">
            <%= image_tag @user.image_url(:thumb), class:"img-responsive"%>
        </div>

        <div class="row">
             <h2>Hi, I'm <%= @user.first_name %></h2>  
        </div>
        <div class = "row shift-up-10">
           <%= @user.email %>
        </div>
        <% if @user.id == current_user.id %>
            <div class = "row top-buffer-25">
                <%= form_for @user do |f| %>
                  <div class = "row">
                    <div class = "col-md-offset-4 col-xs-offset-4">
                      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
                    </div>
                    <div class = "col-md-8 col-md-offset-2">
                      <%= f.text_field :remote_image_url, placeholder:"Or enter image url", class:"form-control top-buffer-15" %>
                    </div>
                  </div>
                  <div><%= f.submit "Update Image", class:"top-buffer-25 update-button" %></div>
                  <div class="top-buffer-25">
                    <%= link_to "Message", conversations_create_path%>
                  </div>
                <%end%>
            </div>
      <%end%>
  </div>
  <div class = "col-md-7 col-md-offset-1 top-buffer-75">
        <div class = "row top-buffer-75">
          <h2>Payment</h2>
        </div>

        <% if current_user.id == @user.id %>
          <%= link_to "Venmo Access Change", "https://api.venmo.com/v1/oauth/authorize?client_id=3195&scope=make_payments%20access_profile%20access_email%20access_phone%20access_balance&response_type=code" %>

        <% else %>
          <% if @user.venmo_id.nil? or current_user.venmo_id.nil? %>
            Please message this person for payment! 
          <% else %>
            <%= link_to "Make a payment via venmo", venmo_initialize_payment_path(receiver: @user.id) %>
          <% end %>
        <% end %>
        <% if current_user.id != @user.id %>
          <div class = "row text-center top-buffer-50">
            <%= link_to "Add Review", new_review_path(:user_id => @user.id), class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
        <h2 class = "top-buffer-25">Reviews:</h2>
          <% Review.all.where(:user_id => @user.id).each do |review| %>
              <div class = "row review top-buffer-25">
                  <div class = "row">
                    <h3>Score: <%= review.score %> </h3>
                  </div>
                  <div class = "row">
                    <h5>Feedback: <%= review.feedback %></h5>
                  </div>
              </div>
          <% end %>


    

  </div>


</div>



  <div class = "container text-center top-buffer-25">

  </div>

