<h1>Closed Posts</h1>
<!DOCTYPE html>
<% provide(:title, 'Closed Posts') %>
    
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Newsfeed</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/newsfeed/newsfeed.css" rel="stylesheet"> <!-- Lucas's css file -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/newsfeed/newsfeed.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>


    </head>

    <body>
<div class = "container top-buffer-50">
        <% @closed_posts.each do |post| %>

            <div class = "row top-buffer-35 newsfeed-post">
            		<h2 class = "post-title">Title: <%= post.title%></h2>
		            <div class = "col-md-4">
		            		<img class="img-responsive" src="http://www.livelifecycling.com/portals/0/Tours/StMaloNice/nice2.jpg" alt="">
		            </div>
			          <div class = "col-md-7 col-md-offset-1">
			            	<div class = "row post-description top-buffer-25">
			            		Description: <%= post.description %>
			            	</div>
			            	<div class = "row top-buffer-25">
				                <div class = "col-md-3">
				                	Category: <%= post.category %>
				                </div>

				                <div class = "col-md-3 col-md-offset-1"> Price: <%= post.price %> </div>
				                <div class = "col-md-3 col-md-offset-1"> Posted By: <%=link_to User.find(post.user_id).first_name, user_path(post.user_id)%>
                        </div>

			          		</div>
				         	


			          </div>
			                

			        </div>

        <% end %>
      </div>
          </body>
</html>

			            	
