<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Newsfeed</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/newsfeed/newsfeed.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar-color navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/posts">Oskimart</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a>About</a>
                    </li>
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" data-toggle="dropdown" role="button">
                        	Categories <b class="caret"></b>
                        </a>
						  <ul class="dropdown-menu">
                            <li><%=link_to "General", posts_path()%></li>
						    <li><%=link_to "Books", posts_path(category_id: 'Books')%></li>
						    <li><%=link_to "Technology", posts_path(category_id: 'Technology')%></li>
						   	<li><%=link_to "Furniture", posts_path(category_id: 'Furniture')%></li>
						    <li><%=link_to "Service", posts_path(category_id: 'Service')%></li>
						    <li><%=link_to "Other", posts_path(category_id: 'Other')%></li>
						  </ul>
													
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <%if user_signed_in? %>
                			<li>
              					<%=link_to user_path(current_user.id) do%>
              						<%=User.find(current_user.id).first_name%>
              						<span class="glyphicon glyphicon-user"></span> 
              					<%end%>
                			</li>
                			<li>
                				
                				<%=link_to destroy_user_session_path, :method=>'delete' do%>
                					Logout
                					<span class="glyphicon glyphicon-log-out"></span> 
                				<%end%>
                					
                			</li>

                		<% else %>
                			<li>
                				<%=link_to new_user_session_path do%>
                					Login
                					<span class="glyphicon glyphicon-log-in"></span> 
                				<% end %>
                			</li>
                		<%end%>

                </ul>
            </div>
        </div>
    </nav>

<div class = "overlay">
</div>
<div class = "container top-buffer-35">

		<div class = "row">
    		<h1 class = "newsfeed-title">General Newsfeed</h1> 
		</div>
	  <div class = "row top-buffer-25">
  		<div class = "col-md-offset-3 col-xs-offset-3">
		    <form class="navbar-form">
		        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
		        <%= text_field_tag :keywords, params[:search], placeholder: "Search posts by title or description", :class=>"search-input" %>
		        <%= submit_tag "Search", :class=>"search-button"%>
		        <% end %>
		    </form>
		  </div>
	  </div>

  	<div class = "row top-buffer-25">
  		<div class = "col-md-6 col-md-offset-1 col-xs-8 col-xs-offset-1">
  			<h5>Filter by price:</h5>
	  		<%= link_to "$", posts_path(price: '$'), class: "price-button" %>
	  		<%= link_to "$$", posts_path(price: '$$'), class: "price-button" %>
	  		<%= link_to "$$$", posts_path(price: '$$$'), class: "price-button" %>
	  	</div>
  		<div class = "col-md-4 col-md-offset-5 col-xs-6 col-xs-offset-7 shift-up-20">
  			<%= link_to "Create Post!", post_new_path, class: "create-button" %>
  		</div>
  	</div>


</div>

		    <div class = "container top-buffer-50">
	            <% @posts.each do |post| %>

		            <div class = "row top-buffer-35 newsfeed-post">
		            		<h2 class = "post-title">Post Title: <%= post.title%></h2>
				            <div class = "col-md-4">
				            		<img class="img-responsive" src="http://www.livelifecycling.com/portals/0/Tours/StMaloNice/nice2.jpg" alt="">
				            </div>
					          <div class = "col-md-7 col-md-offset-1">
					            	<div class = "row post-description top-buffer-25">
					            		Description: <%= post.description %>
					            	</div>
					            	<div class = "row top-buffer-25">
    					                <div class = "col-md-3">
    					                	Category: <%= post.category %>
    					                </div>

    					                <div class = "col-md-3 col-md-offset-1"> Price: <%= post.price %> </div>
    					                <div class = "col-md-3 col-md-offset-1"> Posted By: <%= User.find(post.user_id).first_name %> 
                                        </div>
					          		</div>
						         	<div class = "row top-buffer-25">
						                <%= link_to "Show", post_path(post), class: "post-option-button" %>
						                <% if current_user.id == post.user_id %>
						                    <%= link_to "Update", edit_post_path(post), class: "post-option-button"%>
						                    <%= link_to "Remove", post, method: :delete, data: { confirm: "Are you sure?" }, class: "post-option-button" %>
						                <% end %>
						                <%= link_to "Comments", comments_path(:post_id => post.id), class: "post-option-button" %>
						           </div>

					          </div>
					                

					        </div>

	            <% end %>
	          </div>
	    <%= will_paginate @posts, :class=>"pagination" %>
  </div>

	<!--
    <div class="container">
        <div class="row">
            <div class=" col-lg-10">
                <h1 class="page-header">General newsfeed
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="top-buffer-25 col-md-4 col-md-offset-0">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <h3>Project One</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

    </div>
  -->

        <!-- /#wrapper -->




</body>

</html>
