<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Newsfeed</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/newsfeed/newsfeed.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar-color navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Oskimart</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class = "col-md-offset-1">
    <h1 class = "newsfeed-title">General Newsfeed</h1> 
</div>


  <div class = "container">
  	<div class = "row">
  		<div class = "col-md-offset-3">
		    <form class="navbar-form">
		        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
		        <%= text_field_tag :keywords, params[:search], placeholder: "Search keywords", :class=>"search-input" %>
		        <%= submit_tag "Search", :class=>"search-button"%>
		        <% end %>
		    </form>
		  </div>
	   </div>
  </div>

<div class = "container">
	<div class = "row">
    <text> Filter By: </text>
	  		<%= link_to "$", posts_path(price: '$'), class: "btn btn-md btn-primary" %>
	  		<%= link_to "$$", posts_path(price: '$$'), class: "btn btn-md btn-primary" %>
	  		<%= link_to "$$$", posts_path(price: '$$$'), class: "btn btn-md btn-primary" %>
	</div>
    <br><br><br>
  <div class = "row">
  	<div class = "col-md-offset-4">
    	<%= link_to "Create Post!", post_new_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

    <%= select_tag(:category_id, options_for_select(['Please select a category', '', 'Books', 'Technology', 'Furniture', 'Service', 'Other'], {:prompt => 'Select Gender'}))%>

</div>


    <div class = "container">
	            <% @posts.each do |post| %>
	            <div class = "row top-buffer-25 blue-background">
	            	<h3><%= post.title %></h3>
	            	<div class ="col-md-4">
	            		<img class="img-responsive" src="http://www.livelifecycling.com/portals/0/Tours/StMaloNice/nice2.jpg" alt="">
	            	</div>

		            <div class = "col-md-7 col-sm-1 col-md-offset-1">
		                
		                <p><%= post.description %></p>
		                <td><%= post.category %></td>
		                <td><%= post.price %></td>
		                <td><%= User.find(post.user_id).first_name %></td>

		                <td><%= link_to "Show", post_path(post) %></td>
		                <% if current_user.id == post.user_id %>
		                    <td><%= link_to "Update", edit_post_path(post) %></td>
		                    <td><%= link_to "Remove", post, method: :delete, data: { confirm: "Are you sure?" } %></td>
		                <% end %>
		                <td><%= link_to "Comments", comments_path(:post_id => post.id) %></td>
		            </div>
		           </div>

	            <% end %>
	    <%= will_paginate @posts, :class=>"pagination" %>
  </div>



<script>
    $(function(){
      $('#category_id').bind('change', function () {
         var url = "/posts?category_id=" + $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });
</script>
	<!--
    <div class="container">
        <div class="row">
            <div class=" col-lg-10">
                <h1 class="page-header">General newsfeed
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="top-buffer-25 col-md-4 col-md-offset-0">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <h3>Project One</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

    </div>
  -->

        <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
